# Основной адрес приложения для рассылки писем
APP_EMAIL=example@domain.com

# Пароль для использования почты через SMTP
APP_EMAIL_PASSWORD=your_app_password_here

# Электронные почты для рассылки уведомлений (разделены пробелами)
EMAIL_TARGETS='email1@example.com email2@example.com'

# Электронная почта для информации об электронных судебных приказах
EMAI_ESP=esp@example.com

# Список юрлиц для работы с парсером
ULS='ORG1 ORG2'

# Список ИНН юрлиц для работы с парсером (по порядку соответствует ULS)
INNS='0000000000 1111111111'

# ИНН юрлица при одиночном использовании парсера 
INN=0000000000